.modal {
  max-width: 20rem;
  padding: 2rem;
  border: 0;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  outline: none;

  &::backdrop {
    background: hsl(0 0% 0% / 50%);
  }
}

.closeButton {
  font-size: 0.75em;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
}
