.christmasDecorations {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 12.5rem;
    height: 1.25rem;
    top: 11.25rem;
    left: -5rem;
  }
}

.tree {
  position: relative;
  background-color: #57462a;
  //background-image: url("assets/pine_tree_trunk_texture.jpg");
  background-size: cover;
  width: 2.1875rem;
  height: 4.375rem;
  top: 7.5rem;

  .tree-top {
    position: absolute;
    height: 0;
    width: 0;
    border-right: 4.375rem solid transparent;
    border-left: 4.375rem solid transparent;
    border-bottom: 7.5rem solid #64a85b;
    //background-image: url("assets/pine_tree_trunk_texture.jpg");
    //border-image-source: url("assets/pine_tree_green_texture.jpg");
    top: -15rem;
    left: -3.3125rem;
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      border-top: 0.625rem solid rgba(0, 0, 0, 0.5);
      border-right: 0.3225rem solid transparent;
      border-left: 6.5825rem solid transparent;
      top: 7.5rem;
      left: -3.125rem;
      transform: skew(45deg);
    }

    &:after {
      content: "";
      position: absolute;
      border-top: 0.625rem solid rgba(0, 0, 0, 0.5);
      border-right: 0.3225rem solid transparent;
      border-left: 8.4475rem solid transparent;
      top: 13.125rem;
      left: -4.0625rem;
      transform: skew(45deg);
    }
  }

  .tree-middle {
    top: -8.125rem;
    left: -5.1875rem;
  }

  .tree-bottom {
    top: -4.375rem;
    left: -5.1875rem;
  }

  .tree-bottom,
  .tree-middle {
    position: absolute;
    height: 0;
    width: 6.25rem;
    border-right: 3.125rem solid transparent;
    border-left: 3.125rem solid transparent;
    border-bottom: 6.25rem solid #64a85b;
  }
}
