.christmasDecorations {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 11.25rem;
    left: -5rem;
    height: 1.25rem;
    width: 12.5rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.tree {
  position: relative;
  top: 7.5rem;
  height: 4.375rem;
  width: 2.1875rem;
  background-color: #5e5342;

  .tree-top {
    position: absolute;
    height: 0;
    width: 0;
    border-right: 4.375rem solid transparent;
    border-left: 4.375rem solid transparent;
    border-bottom: 7.5rem solid #238a5b;
    top: -15rem;
    left: -3.3125rem;
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      border-top: 0.625rem solid rgba(0, 0, 0, 0.4);
      border-right: 0.3225rem solid transparent;
      border-left: 6.5825rem solid transparent;
      top: 7.5rem;
      left: -3.125rem;
      transform: skew(45deg);
    }

    &:after {
      content: "";
      position: absolute;
      border-top: 0.625rem solid rgba(0, 0, 0, 0.4);
      border-right: 0.3225rem solid transparent;
      border-left: 8.4475rem solid transparent;
      top: 13.125rem;
      left: -4.0625rem;
      transform: skew(45deg);
    }

    .star {
      position: absolute;
      top: -1.5rem;
      left: -1.25rem;
      height: 2.5rem;
      width: 2.5rem;
      background-color: #d5d500;
      clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }
  }

  .tree-middle {
    top: -8.125rem;
    left: -5.1875rem;
  }

  .tree-bottom {
    top: -4.375rem;
    left: -5.1875rem;
  }

  .tree-bottom,
  .tree-middle {
    position: absolute;
    height: 0;
    width: 6.25rem;
    border-right: 3.125rem solid transparent;
    border-left: 3.125rem solid transparent;
    border-bottom: 6.25rem solid #238a5b;
  }
}
